.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}

.ship{
	text-align: center;
}

.ship img {
	padding: 5px;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.fleet-nav li {
    padding: 2px;
}

.pip{
  height: 30px;
  min-width: 30px;
  display: inline-block;
  padding: 5px;
  margin: 5px;
  border-radius: 7px  ;
}

.die1 {
  background-color: #ffcc00;
}
.die2 {
  background-color: #ff9900;
}
.die4 {
  background-color: #ff0000;
}

.dmgup {
  border: 1px solid black;
}
.defup {
  color: #fff;
  background-color: #444444;
}
.hull {
  background-color: #009933;
}
.initiative {
  background-color: #33ccff;
}
.missile {
  color: #ff9900;
}

.diagram{
  display: inline-block;
  position: relative;
}

.shipmodal .slot {
  position: absolute;
    width: 33%;
    height: 50%;
}
.interceptor .slot0{
  margin-top: 26%;
}
.interceptor .slot1{
  left: 33%;
}
.interceptor .slot2{
  left: 33%;
  top: 50%;
}
.interceptor .slot3{
  left: 66%;
  top: 36%;
}